<h1 id="Title">@ViewBag.PostTitle</h1>
<span id="Author">@ViewBag.PostAuthor</span>
<span id="Date">@ViewBag.PostDate</span>
<span id="Group">@ViewBag.PostGroup</span>
<br/>
<div id="Body">
    @Html.Raw(ViewBag.PostBody)
</div>